{% extends 'base2.html' %}
{% load static %}

{% block content %}
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full" data-sidebar-position="fixed" data-header-position="fixed">
    <div class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
        <div class="d-flex align-items-center justify-content-center w-100" style="margin-top: 10%; margin-bottom: 5%;">
            <div class="row justify-content-center w-100">
                <div class="col-md-10 col-lg-8 col-xxl-6">
                    <div class="card mb-0">
                        <div class="card-body">
                            <h4 class="text-center">Course List</h4>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Category</th>
                                        <th>Course Name</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for course in courses %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{ course.category.name }}</td>
                                            <td>{{ course.course_name }}</td>
                                            <td>
                                                <a href="{% url 'edit_course' course.id %}" class="btn btn-warning btn-sm" style="width: 100%;">Edit</a><br><br>
                                                <a href="{% url 'delete_course' course.id %}" class="btn btn-danger btn-sm" 
                                                onclick="return confirm('Are you sure you want to delete this course?');" style="width: 100%;">Delete</a>
                                                <!-- Add any other actions like delete if necessary -->
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <div class="text-center mt-3">
                                <a href="{% url 'add_course' %}" class="btn btn-primary">Add New Course</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
