{% extends 'base2.html' %}
{% load static %}

{% block content %}
    <div class="container mt-5">
        <h1>Edit Question</h1>
        <div class="card">
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="question_text" class="form-label">Question Text:</label>
                        <input type="text" name="question_text" id="question_text" class="form-control" value="{{ question.text }}" required>
                    </div>

                    <div class="mb-3">
                        <label for="options" class="form-label">Options:</label>
                        {% for option in options %}
                            <div class="input-group mb-2">
                                <input type="text" name="options" class="form-control" value="{{ option.text }}" required>
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <input type="radio" name="correct_option" value="{{ option.text }}" {% if option.is_correct %}checked{% endif %}>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                    <button type="submit" class="btn btn-primary">Update Question</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
